<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Produkt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Dodaj Produkt</h1>
    <form method="post" enctype="multipart/form-data">
        Nazwa: <input type="text" name="name" required><br>
        Cena: <input type="number" step="0.01" name="price" required><br>
        Obraz (URL): <input type="text" name="image"><br>
        <input type="submit" value="Dodaj Produkt">
    </form>
</body>
</html>
